/* custom.css */
.cs-message--outgoing .cs-message__content {
  background-color: rgba(255, 255, 255, 1) !important;
}

.cs-message--incoming .cs-message__content {
  background-color: #ffffff00 !important;
}

.cs-message-list::-webkit-scrollbar-thumb {
  background-color: #888 !important;
  border-radius: 6px;
}


.cs-message-input__content-editor-wrapper {
  background-color: rgba(229, 229, 229, 1) !important;
}


div.cs-message-input__tools button.cs-button--send {
  background-color: rgba(255, 255, 255, 1) !important;
}
.cs-button{
  background-color: rgba(255, 255, 255, 1) !important;
  color: rgba(90, 40, 238, 1) !important;
}

.cs-button--send {
  background-color: rgba(255, 255, 255, 1) !important;
  color: rgba(90, 40, 238, 1) !important;
}

.cs-conversation-header{
    background-color: transparent !important;
}
.cs-conversation-header__content{
    background-color: transparent !important;
}
.cs-conversation-header__user-name{
    background-color: transparent !important;
}
.ps .ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y{
  background-color: rgba(90, 40, 238, 1) !important;
}


.cs-message-input__content-editor-container .ps__thumb-y .scrollbar-container {
  background-color: transparent !important;
}