/* incomping messages*/
.cs-message.cs-message--incoming.cs-message--single .cs-message__content {
  /* background-color: #f2f2f2 !important; */
  background-color: transparent !important;
  /* margin-top: 3px !important;
  margin-bottom: 3px !important; */
}

/* outgoing messages*/
.cs-message.cs-message--outgoing.cs-message--single .cs-message__content {
  background-color: #ececec !important;
  /* margin-top: 3px !important;
  margin-bottom: 3px !important; */
}

/* send button */
.cs-button{
  color: rgba(90, 40, 238, 1) !important;
  margin-bottom: 5px !important;
}

/* chat header */
.cs-conversation-header{
    background-color: transparent !important;
}

.cs-conversation-header__user-name{
    background-color: transparent !important;
}

/* message input */
.cs-message-input__content-editor {
  background-color: rgb(255, 255, 255) !important;
  margin-top: 5px !important;
  font-size: medium;
}
.cs-message-input__content-editor-container{
  background-color: rgb(255, 255, 255) !important;
}

.cs-message-input{
  margin-top: 3px !important;
}

.cs-message-input__content-editor{
  text-align: right !important;
}

.cs-message-input__content-editor-wrapper {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid #e5e5e5;
  border-radius: 0.9rem !important;
  position: relative !important;
  
}
.cs-chat-container .cs-message-input {
  /* border: none !important; */
  margin-top: 15px !important;
  /* padding-top : 15px !important; */

  margin-bottom: 15px !important;
  height: 60px !important;
}

.cs-message-input__send-inside {
  position: absolute !important;
  right: 0.75rem !important;
  bottom: 0.5rem !important;
}

/* scrollbar */
.ps__thumb-y{
    background-color: #878787 !important;
}

/* chat main container */
.cs-main-container {
  position: fixed !important;

  border-top: none !important;
  border-bottom: none !important;
  border-top: right !important;
}