@import "tailwindcss";
@import "tw-animate-css";
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  /* Colors */
  --color-Shade-Black: rgba(0, 0, 0, 1);
  --color-Violet-V400: rgba(161, 73, 247, 1);
  --color-Violet-V600: rgba(118, 31, 205, 1);
  --color-Violet-V800: rgba(71, 19, 123, 1);
  --color-Flamingo-F50: rgba(254, 234, 242, 1);
  --color-Flamingo-F200: rgba(252, 155, 196, 1);
  --color-Flamingo-F400: rgba(251, 89, 157, 1);
  --color-Flamingo-F600: rgba(208, 47, 114, 1);
  --color-Flamingo-F700: rgba(167, 37, 91, 1);
  --color-Flamingo-F500: rgba(250, 56, 137, 1);
  --color-Flamingo-F900: rgba(83, 19, 46, 1);
  --color-Blue-sky-B200: rgba(158, 219, 255, 1);
  --color-Blue-sky-B900: rgba(20, 61, 85, 1);
  --color-Blue-sky-B700: rgba(41, 123, 170, 1);
  --color-Blue-sky-B500: rgba(61, 184, 255, 1);
  --color-Flamingo-F800: rgba(125, 28, 69, 1);
  --color-Blue-sky-B400: rgba(93, 196, 255, 1);
  --color-Warning-W100: rgba(253, 237, 190, 1);
  --color-Warning-W200: rgba(253, 228, 158, 1);
  --color-Warning-W300: rgba(252, 218, 125, 1);
  --color-Gray-N500: rgba(115, 115, 115, 1);
  --color-Warning-W800: rgba(151, 112, 4, 1);
  --color-Warning-W900: rgba(101, 75, 3, 1);
  --color-Success-s200: rgba(167, 243, 208, 1);
  --color-Success-s400: rgba(52, 211, 153, 1);
  --color-Success-s500: rgba(16, 185, 129, 1);
  --color-Flamingo-F300: rgba(252, 122, 176, 1);
  --color-Success-s600: rgba(5, 150, 105, 1);
  --color-Blue-sky-B100: rgba(190, 231, 255, 1);
  --color-Success-s700: rgba(4, 120, 87, 1);
  --color-Success-s50: rgba(236, 253, 245, 1);
  --color-Shade-White: rgba(255, 255, 255, 1);
  --color-Success-s800: rgba(6, 95, 70, 1);
  --color-Violet-V900: rgba(47, 12, 82, 1);
  --color-Gray-N800: rgba(37, 37, 37, 1);
  --color-Blue-sky-B600: rgba(51, 153, 212, 1);
  --color-Error-E100: rgba(250, 209, 212, 1);
  --color-Error-E300: rgba(227, 120, 127, 1);
  --color-Error-E800: rgba(117, 0, 8, 1);
  --color-Flamingo-F100: rgba(253, 189, 216, 1);
  --color-Warning-W700: rgba(202, 150, 5, 1);
  --color-Error-E900: rgba(87, 0, 6, 1);
  --color-Success-s300: rgba(110, 231, 183, 1);
  --color-Primary-P700: rgba(14, 40, 86, 1);
  --color-Error-Overlay: rgba(213, 28, 41, 0.5);
  --color-Gray-N700: rgba(64, 64, 64, 1);
  --color-Error-E50: rgba(255, 235, 236, 1);
  --color-Error-E500main: rgba(231, 60, 71, 1);
  --color-Blue-sky-B50: rgba(235, 248, 255, 1);
  --color-Warning-W400: rgba(251, 209, 93, 1);
  --color-Blue-sky-B300: rgba(126, 208, 255, 1);
  --color-Violet-V300: rgba(180, 110, 249, 1);
  --color-Error-E700: rgba(167, 5, 16, 1);
  --color-Error-E600: rgba(213, 28, 41, 1);
  --color-Gray-N300: rgba(212, 212, 212, 1);
  --color-Primary-P50: rgba(237, 243, 255, 1);
  --color-Primary-P100: rgba(201, 218, 248, 1);
  --color-Success-s100: rgba(209, 250, 229, 1);
  --color-Primary-P800: rgba(10, 26, 57, 1);
  --color-Primary-P200: rgba(139, 172, 233, 1);
  --color-Primary-P400: rgba(33, 93, 204, 1);
  --color-Gray-N400: rgba(163, 163, 163, 1);
  --color-Gray-N600: rgba(82, 82, 82, 1);
  --color-Error-E200: rgba(237, 161, 166, 1);
  --color-Violet-V700: rgba(95, 25, 164, 1);
  --color-Blue-sky-B800: rgba(31, 92, 128, 1);
  --color-Primary-P500main: rgba(24, 66, 143, 1);
  --color-Gray-N900: rgba(23, 23, 23, 1);
  --color-Primary-P600: rgba(19, 53, 114, 1);
  --color-Warning-W50: rgba(254, 246, 223, 1);
  --color-Warning-W500: rgba(250, 200, 60, 1);
  --color-Primary-P300: rgba(79, 129, 222, 1);
  --color-Primary-P900: rgba(5, 13, 29, 1);
  --color-Gray-N50: rgba(250, 250, 250, 1);
  --color-Gray-N200: rgba(229, 229, 229, 1);
  --color-Gray-Overlay: rgba(255, 255, 255, 1);
  --color-Gray-N100: rgba(245, 245, 245, 1);
  --color-Success-s900: rgba(6, 78, 59, 1);
  --color-Warning-W600: rgba(249, 186, 10, 1);
  --color-Violet-V100: rgba(217, 182, 252, 1);
  --color-Violet-V500: rgba(142, 37, 246, 1);
  --color-Violet-V50: rgba(243, 233, 253, 1);
  --color-Violet-V200: rgba(198, 146, 250, 1);
  --color-Error-E400: rgba(219, 87, 96, 1);
  --color-Secondary-S50: rgba(255, 246, 224, 1);
  --color-Secondary-S200: rgba(254, 222, 142, 1);
  --color-Secondary-S100: rgba(254, 233, 178, 1);
  --color-Secondary-S300: rgba(254, 212, 107, 1);
  --color-Secondary-S500-main: rgba(255, 201, 112, 1);
  --color-Secondary-S400: rgba(255, 251, 191, 1);
  --color-Secondary-S600: rgba(216, 158, 13, 1);
  --color-Secondary-S800: rgba(108, 78, 2, 1);
  --color-Secondary-S700: rgba(162, 119, 6, 1);
  --color-Secondary-S900: rgba(54, 39, 0, 1);

  /* fontSize */

  /* lineHeight */

  /* fontWeight */

  /* fontFamily */
  --font-family-anjoman-max-fn: Anjoman Max FN;
  --font-family-anjoman-max: Anjoman Max;

  /* letterSpacing */
  --letter-spacing-normal: 0em;
}

/*
  ---break---
*/

:root {
  --radius: 0.625rem;
  --background: rgba(249, 250, 252,1);
  --foreground: 224 71.4% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 224 71.4% 4.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 224 71.4% 4.1%;
  --primary: 262.1 83.3% 57.8%;
  --primary-foreground: 210 20% 98%;
  --secondary: 220 14.3% 95.9%;
  --secondary-foreground: 220.9 39.3% 11%;
  --muted: 220 14.3% 95.9%;
  --muted-foreground: 220 8.9% 46.1%;
  --accent: 220 14.3% 95.9%;
  --accent-foreground: 220.9 39.3% 11%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 20% 98%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --ring: 262.1 83.3% 57.8%;
  --radius: 0.5rem;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

/*
  ---break---
*/

.dark {
  --background: 224 71.4% 4.1%;
  --foreground: 210 20% 98%;
  --card: 224 71.4% 4.1%;
  --card-foreground: 210 20% 98%;
  --popover: 224 71.4% 4.1%;
  --popover-foreground: 210 20% 98%;
  --primary: 263.4 70% 50.4%;
  --primary-foreground: 210 20% 98%;
  --secondary: 215 27.9% 16.9%;
  --secondary-foreground: 210 20% 98%;
  --muted: 215 27.9% 16.9%;
  --muted-foreground: 217.9 10.6% 64.9%;
  --accent: 215 27.9% 16.9%;
  --accent-foreground: 210 20% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 20% 98%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --ring: 263.4 70% 50.4%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

/*
  ---break---
*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}